/* basic reset */

html, body, h1, h2 {
  padding: 0;
  margin: 0;
}

body {
  font: normal 100%/1.5 sans-serif;
}

header {
  color: white;
  padding: 30px 50px;
}

header h1 {
  font-size: 2em;
}

#left {
  background-image: url(../assets/img/marc-hammond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  min-height: 50em;
  width: 50%;
}